/* styles/globals.css */
@font-face {
  font-family: 'Now';
  src: url('/Fonts/Now-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('/Fonts/Now-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'Now', sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body,
blockquote,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
menu,
ol,
p,
table,
ul {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html, body {
  overflow: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

body::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}



/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

